.pokemon-button {
    margin-top: 5;
    padding: 5;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20;
    color: white;
    width: 200px;
    border-width: 0px;
    /* border-radius: 10; */
    /* border: 2px solid #32a887; */
    display: inline-block;
    transition: all .5s ease
}

.pokemon-button:hover {
    background-color: #32a887;
    color: #11151c;
}

.pokemon-button:active {
    background-color: #1b765d;
    transition: none;
}

.pokemon-button td {
    display: inline-flex;
    padding-left:5px;
    align-items: right;
}

.party-member-container {
    height:100px;
    width:100px;
    border-radius: 50%;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.party-member-background {
    background-color: #161b24;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 0;
    outline: 2px solid #262f42;
}

.party-member-icon {
    display: inline-block;
    position: absolute;
    width: 84px;
    height:63px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.party-member-remove {
    background-color: #32a887;
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 30%;
    opacity: 0;
    z-index: 2;
    border-radius: 50%;
    border: none;
}

.party-member-remove:after {
    background-color: #1b765d;
    height: 25%;
    width: 25%;
    transition-property: height, width;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.party-member-container:hover .party-member-remove {
    opacity: 1;
    transition: all .5s ease;
}

.action-button {
    background-color: #ea5d5d;
    height: 50px;
    width: 125px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.desc-box {
    background-color: #32a887;
    border: 2px solid #1b765d;
    border-radius: 5px;    
    margin: 5px
}

.stat-bar {
    transition: width .5s ease
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
}

.tooltip-content {
    display: none;
    background: #fdfdfd;
    color: #11151c;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    max-width: 200px;
    border-radius: 10px;
    border: 2px solid #11151c;
}