body {
  margin: 0;
  font-family: 'pokemonFont';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  /* styling */
  background-color:  #161b24;
  color: white;
  display: inline-block;
  font: inherit;
  padding: 0.5em 2em 0.2em .5em;
  border-radius: 5px;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  color: white;
}

@font-face {
  font-family: pokemonFont;
  src: url(./fonts/PKMN\ RBYGSC.ttf);
}